<div class="container">
    <h3 style="display: inline;">SalorMoon </h3><span style="margin-left:10px;color:#999;">意识和耐心</span>
        <hr>
    <ul class="col-md-8">
        <li ng-repeat="blog in $ctrl.blogs" style="list-style:none;">
            <h3><a ui-sref="blogdetail({blogId:blog.id})" class="goon">{{blog.title}}</a></h4>
            <span style="color:#999;">By&nbsp;{{blog.author}}</span>&nbsp;<span style="color:#999;">{{blog.published|date:'yyyy-MM-dd'}}</span>
            <p>{{blog.body|limitTo:70}}...</p>
            <p><a href="#">继续阅读...</span></a></p>
            <hr>
        </li>
    </ul>
</div>
<style>
.goon {
    color: #333;
}
.goon:hover {
    text-decoration: none;
    color: #EB5B4C;
}
</style>
