<div class="container">
    <div class="col-md-offset-1">
        <div class="form-inline">
            <label for="title">Title:</label>
            <input type="text" id="title" class="form-control" ng-model="$ctrl.blog.title">
        </div>
    </div>

    <div id="editormd" style="margin-top:20px;"><!--{{ article_post_form.body }}-->
    <textarea style="display:none;" id="id_body">
{{$ctrl.blog.body}}
    </textarea>
    </div>
    <div class="row col-md-2 col-md-offset-10">
<button type="button" class="btn btn-primary" onclick="editBlog()">提交</button>
    </div>
</div>

<script type="text/javascript">
$(function(){
    var editor = editormd("editormd",{
        width:"80%" ,
        height:500,
        path:"templates/node_modules/editor.md-master/lib/",
    });
}); 
var editBlog = function(){
    var title = $("#title").val();
    var body = $("#id_body").val();
    var urlstr = location.href;
    var strs = new Array();
    strs = urlstr.split("/");
    blogId = strs.pop();
    $.ajax({
        url: "/blogs/"+blogId,
        type: "PUT",
        data: {"title":title,"body":body},
        success: function(){
            $("#tip").modal();  
            console.log("edit success")
            $("#hint").text("edit success");
        },
        error: function(){
            $("#tip").modal();  
            console.log("edit error")
            $("#hint").text("edit error");
        }
    });
}
</script>

<div class="modal fade" id="tip" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                模态框（Modal）标题
                </h4>
            </div>
            <div class="modal-body">
                <span id="hint"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary">提交更改
                </button>
            </div>
        </div>
    </div>
</div>
