{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="blogApp">
    <head>
        <meta charset="utf-8">
        <title>博客系统</title>
        <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" />
        <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'node_modules/angular/angular.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'node_modules/angular-resource/angular-resource.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'node_modules/angular-ui-router/angular-ui-router.js'%}"></script>
        <script type="text/javascript" src="{% static 'app.module.js'%}"></script>
        <script type="text/javascript" src="{% static 'app.config.js'%}"></script>
        <script type="text/javascript" src="{% static 'core/core.module.js'%}"></script>
        <script type="text/javascript" src="{% static 'core/blog/blog.module.js'%}"></script>
        <script type="text/javascript" src="{% static 'core/blog/blog.service.js' %}"></script>
        <script type="text/javascript" src="{% static 'blog-list/blog-list.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'blog-list/blog-list.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'blog-detail/blog-detail.module.js'%}"></script>
        <script type="text/javascript" src="{% static 'blog-detail/blog-detail.component.js'%}"></script>
    </head>
    <body>
        <!--        <a ui-sref="bloglist">bloglist</a> -->
        <a ui-sref="blogmgm">文章管理</a>
        <ui-view></ui-view> 
        <!--                     <blog-list></blog-list> -->
    </body>
</html>
